<div>
  <input type="file" #fileInput (change)="onChanged(fileInput.value)" accept=".xml,.jdf,.jmf,.ts">
  <button mat-raised-button color="warn" (click)="yes(fileInput.files[0])" [disabled]="!fileSelected">選択したファイルを読みん込んで表示</button>
<!--
    <button mat-raised-button color="basic" (click)="yes2()" >もういっちょ</button>
-->
</div>

<pre>
  <code #code class="html" [textContent]="xml"></code>
</pre>

<div>
  Job
  <table>
    <tr>
      <th>ID</th>
      <th>JobID</th>
      <th>Type</th>
      <th>DescriptiveName</th>
    </tr>
    <tr *ngIf="jobTag">
      <td>{{jobTag.id}}</td>
      <td>{{jobTag.jobId}}</td>
      <td>{{jobTag.type}}</td>
      <td>{{jobTag.descriptiveName}}</td>
    </tr>
  </table>
</div>

<div>
  Processes
  <table>
    <tr>
      <th>ID</th>
      <th>JobPartID</th>
      <th>Type</th>
      <th>DescriptiveName</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of processTags">
      <td>{{t.id}}</td>
      <td>{{t.jobPartId}}</td>
      <td>{{t.type}}</td>
      <td>{{t.descriptiveName}}</td>
      <td>{{t.body}}</td>
    </tr>
  </table>
</div>

<div>
  Components
  <table>
    <tr>
      <th>ID</th>
      <th>ComponentType</th>
      <th>Class</th>
      <th>Dimensions</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of componentTags">
      <td>{{t.id}}</td>
      <td>{{t.componentType}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.dimensions}}</td>
      <td>{{t.body}}</td>
    </tr>
  </table>
</div>

<div>
  Devices
  <table>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>DeviceID</th>
      <th>FriendlyName</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of deviceTags">
      <td>{{t.id}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.deviceId}}</td>
      <td>{{t.friendlyName}}</td>
      <td>{{t.body}}</td>
    </tr>
  </table>
</div>

<div>
  StitchingParams
  <table>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>NumberOfStitches</th>
      <th>StapleShape</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of stitchingParamsTags">
      <td>{{t.id}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.numberOfStitches}}</td>
      <td>{{t.stapleShape}}</td>
      <td>{{t.body}}</td>
    </tr>
  </table>
</div>

<div>
  TrimmingParams
  <table>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>TrimmingType</th>
      <th>Width</th>
      <th>Height</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of trimmingParamsTags">
      <td>{{t.id}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.trimmingType}}</td>
      <td>{{t.width}}</td>
      <td>{{t.height}}</td>
      <td>{{t.body}}</td>
    </tr>
  </table>
</div>

<!--
<textarea highlight-js [options]="{}" [lang]="'typescript'">
  /* tslint:disable */
  import { Component } from '@angular/core';
  
  @Component({
      selector: 'demo',
      templateUrl: './demo.component.html',
      styleUrls: ['./demo.component.scss']
  })
  export class DemoComponent {
      switchStatus: boolean = true;
  }
</textarea>

<br>

<textarea highlight-js [options]="{}" [lang]="'html'">
    <!DOCTYPE html>
    <title>Title</title>
    
    <style>body {width: 500px;}</style>
    
    <script type="application/javascript">
      function $init() {return true;}
    </script>
    
    <body>
      <p checked class="title" id='title'>Title</p>
    </body>
</textarea>
-->
