<div>
  <input id="input-file-id" type="file" #fileInput (change)="onChanged(fileInput.value)" accept=".xml,.jdf,.jmf,.ts">
<!--
    <label for="input-file-id" class="mat-raised-button mat-primary">Choose JDF/JMF</label>
-->
  <button mat-raised-button color="warn" (click)="yes(fileInput.files[0])" [disabled]="!fileSelected">選択したファイルを読みん込んで表示</button>
</div>

<div *ngIf="xml !== ''">
  <pre>
    <code class="html" [textContent]="xml" appMyHighlight></code>
  </pre>
</div>

<div *ngIf="jobTag !== null">
  <h3>Job</h3>
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{jobTag.descriptiveName}}</mat-card-title>
        <mat-card-subtitle>{{jobTag.jobId}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table>
          <tr>
            <td>ID</td>
            <td>{{jobTag.id}}</td>
          </tr>
          <tr>
            <td>JobID</td>
            <td>{{jobTag.jobId}}</td>
          </tr>
          <tr>
            <td>Type</td>
            <td>{{jobTag.type}}</td>
          </tr>
          <tr>
            <td>DescriptiveName</td>
            <td>{{jobTag.descriptiveName}}</td>
          </tr>
        </table>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>XML</mat-panel-title>
            <mat-panel-description>ほんとはこんな感じ</mat-panel-description>
          </mat-expansion-panel-header>
          <pre>
            <code class="html" [textContent]="jobTag.body" appMyHighlight></code>
          </pre>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </div>
  <table>
    <tr>
      <th>ID</th>
      <th>JobID</th>
      <th>Type</th>
      <th>DescriptiveName</th>
    </tr>
    <tr *ngIf="jobTag">
      <td>{{jobTag.id}}</td>
      <td>{{jobTag.jobId}}</td>
      <td>{{jobTag.type}}</td>
      <td>{{jobTag.descriptiveName}}</td>
    </tr>
  </table>
</div>

<div *ngIf="processTags.length>0">
  Processes
  <table>
    <tr>
      <th>ID</th>
      <th>JobPartID</th>
      <th>Type</th>
      <th>DescriptiveName</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of processTags">
      <td>{{t.id}}</td>
      <td>{{t.jobPartId}}</td>
      <td>{{t.type}}</td>
      <td>{{t.descriptiveName}}</td>
      <td>
        <pre>
          <code class="html" [textContent]="t.body" appMyHighlight></code>
        </pre>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="componentTags.length>0">
  Components
  <table>
    <tr>
      <th>ID</th>
      <th>ComponentType</th>
      <th>Class</th>
      <th>Dimensions</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of componentTags">
      <td>{{t.id}}</td>
      <td>{{t.componentType}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.dimensions}}</td>
      <td>
        <pre>
          <code class="html" [textContent]="t.body" appMyHighlight></code>
        </pre>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="deviceTags.length>0">
  Devices
  <table>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>DeviceID</th>
      <th>FriendlyName</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of deviceTags">
      <td>{{t.id}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.deviceId}}</td>
      <td>{{t.friendlyName}}</td>
      <td>
        <pre>
          <code class="html" [textContent]="t.body" appMyHighlight></code>
        </pre>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="stitchingParamsTags.length>0">
  StitchingParams
  <table>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>NumberOfStitches</th>
      <th>StapleShape</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of stitchingParamsTags">
      <td>{{t.id}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.numberOfStitches}}</td>
      <td>{{t.stapleShape}}</td>
      <td>
        <pre>
          <code class="html" [textContent]="t.body" appMyHighlight></code>
        </pre>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="trimmingParamsTags.length>0">
  TrimmingParams
  <table>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>NoOp</th>
      <th>TrimmingType</th>
      <th>Width</th>
      <th>Height</th>
      <th>TrimmingOffset</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of trimmingParamsTags">
      <td>{{t.id}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.noOp}}</td>
      <td>{{t.trimmingType}}</td>
      <td>{{t.width}}</td>
      <td>{{t.height}}</td>
      <td>{{t.trimmingOffset}}</td>
      <td>
        <pre>
          <code class="html" [textContent]="t.body" appMyHighlight></code>
        </pre>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="foldingParamsTags.length>0">
  FoldingParams
  <table>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>DescriptionType</th>
      <th>FoldCatalog</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of foldingParamsTags">
      <td>{{t.id}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.descriptionType}}</td>
      <td>{{t.foldCatalog}}</td>
      <td>
        <pre>
          <code class="html" [textContent]="t.body" appMyHighlight></code>
        </pre>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="cuttingParamsTags.length>0">
  CuttingParams
  <table>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of cuttingParamsTags">
      <td>{{t.id}}</td>
      <td>{{t.klass}}</td>
      <td>
        <pre>
          <code class="html" [textContent]="t.body" appMyHighlight></code>
        </pre>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="coverApplicationParamsTags.length>0">
  CoverApplicationParams
  <table>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>NoOp</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of coverApplicationParamsTags">
      <td>{{t.id}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.noOp}}</td>
      <td>
        <pre>
          <code class="html" [textContent]="t.body" appMyHighlight></code>
        </pre>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="spinePreparationParamsTags.length>0">
  SpinePreparationParams
  <table>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>MillingDepth</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let t of spinePreparationParamsTags">
      <td>{{t.id}}</td>
      <td>{{t.klass}}</td>
      <td>{{t.millingDepth}}</td>
      <td>
        <pre>
          <code class="html" [textContent]="t.body" appMyHighlight></code>
        </pre>
      </td>
    </tr>
  </table>
</div>

<!--
<textarea highlight-js [options]="{}" [lang]="'typescript'">
  /* tslint:disable */
  import { Component } from '@angular/core';
  
  @Component({
      selector: 'demo',
      templateUrl: './demo.component.html',
      styleUrls: ['./demo.component.scss']
  })
  export class DemoComponent {
      switchStatus: boolean = true;
  }
</textarea>

<br>

<textarea highlight-js [options]="{}" [lang]="'html'">
    <!DOCTYPE html>
    <title>Title</title>
    
    <style>body {width: 500px;}</style>
    
    <script type="application/javascript">
      function $init() {return true;}
    </script>
    
    <body>
      <p checked class="title" id='title'>Title</p>
    </body>
</textarea>
-->
