<div>
  <input type="file" #fileInput (change)="onChanged(fileInput.value)" accept=".xml,.jdf,.jmf,.ts">
  <button mat-raised-button color="warn" (click)="yes(fileInput.files[0])" [disabled]="!fileSelected">選択したファイルを読みん込んで表示</button>
<!--
    <button mat-raised-button color="basic" (click)="yes2()" >もういっちょ</button>
-->
</div>

<pre>
  <code #code class="html" [textContent]="xml">
<!--
            &lt;html&gt;
            &lt;body&gt;

            &lt;h1&gt;My First Heading&lt;/h1&gt;
            &lt;p&gt;My first paragraph.&lt;/p&gt;

            &lt;/body&gt;
          &lt;/html&gt;
-->
  </code>
</pre>

<div *ngFor="let t of texts">
{{t}}
</div>

<!--
<textarea highlight-js [options]="{}" [lang]="'typescript'">
  /* tslint:disable */
  import { Component } from '@angular/core';
  
  @Component({
      selector: 'demo',
      templateUrl: './demo.component.html',
      styleUrls: ['./demo.component.scss']
  })
  export class DemoComponent {
      switchStatus: boolean = true;
  }
</textarea>

<br>

<textarea highlight-js [options]="{}" [lang]="'html'">
    <!DOCTYPE html>
    <title>Title</title>
    
    <style>body {width: 500px;}</style>
    
    <script type="application/javascript">
      function $init() {return true;}
    </script>
    
    <body>
      <p checked class="title" id='title'>Title</p>
    </body>
</textarea>
-->
