/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}
  
/*
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
*/
.mat-table {
    overflow: auto;
    max-height: 500px;
}


/* https://stackoverflow.com/questions/45159066/md-table-how-to-update-the-column-width */
.mat-column-user_id {
    flex: 0 0 100px !important;
    white-space: unset !important;
}

.mat-column-created_at {
    flex: 0 0 100px !important;
    white-space: unset !important;
}

.mat-column-message {
/*    flex: 0 0 100px !important;
*/    white-space: pre !important;
}
