<div>
  <form>
    <mat-form-field>
      <input matInput placeholder="user id" [(ngModel)]="user_id" name="user_id" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" #dt_input [(ngModel)]="search_date" name="search_date" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSearchLog(dt_input.value)" [disabled]="!canSearchLog()">
        <mat-icon aria-label="Example icon-button with a heart icon">cached</mat-icon>
        ログ取得
    </button>  
  </form>
</div>
<div *ngIf="!searching; else searchingContent">
  <div *ngIf="history_array.length>0; else hideContent">
    <table class="table">
      <tr>
        <th>created_at</th><th>message</th>
      </tr>
      <!--配列articlesの内容を順番に出力-->
      <tr *ngFor="let h of history_array">
        <td>{{h.created_at}}</td>
        <td>{{h.message}}</td>
      </tr>
      </table>
  </div>
  <ng-template #hideContent>
    からっぽっす
  </ng-template>
</div>
<ng-template #searchingContent>
  <mat-spinner></mat-spinner>
</ng-template>

<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  
