<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Welcome to {{ title }}!</span>
    <span class="example-spacer"></span>
    <nav>
        <a routerLink="/simple-send" routerLinkActive="active">Simple Send</a>
        <a routerLink="/file-send" routerLinkActive="active">File Send</a>
        <a routerLink="/cards" routerLinkActive="active">Cards</a>
        <a routerLink="/history" routerLinkActive="active">History</a>
        <a routerLink="/xml" routerLinkActive="active">XML</a>
        <a routerLink="/logo" routerLinkActive="active">Logo</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
