.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
  flex: 1 1 auto;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
/*    border-bottom: 1px solid black;*/
/*    border: 2px outset blue; */
    box-shadow: 0px 4px 5px gray;
}

#content {
    padding-top: 80px;
}

nav a {
    color:#fff;
    text-decoration: none;
    font-size: 80%;
    padding: 8px 10px;
    border-radius: 10px 10px 10px 10px;
}

nav a:hover {
    color:#fff;
    text-decoration: underline;
}

nav a.active {
    background-color: black;
}